@{
    ViewData["Title"] = "Sobre o Controle Escolar";
}
<h1>@ViewData["Title"]</h1>

<div class="sobre">
    <b>Disciplina:</b>
        <li>Programação III</li>
    <b>Professor:</b>
        <li>Rosenclever Gazoni</li>
    <b>Alunos Participantes:</b>
        <li>Aleixo Gerhardt</li>
        <li>Caio Dantas</li>
        <li>Hugo Miranda</li>
        <li>Gustavo de Melo</li>
        <li>João Victor Silva</li>
</div>